/* header styles */

h1 {
  font-size: 25px;
  font-weight: 700;
}
p {
  font-size: 18px;
}
svg:hover {
  cursor: pointer;
}
.card-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  transition: 300ms;
  perspective: 1000px;
}
.card {
  border-radius: 14px;
  background-color: var(--ht-bg);
  position: absolute;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
}

.responsiveCard {
  position: relative;
  width: 150px;
  height: 260px;
  transition: 500ms;
  transform-style: preserve-3d;
}

/* .card-container:hover .responsiveCard {
  transform: rotateY(180deg);
} */

.cardFront,
.cardBack {
  border-radius: 14px;
  background-color: var(--ht-bg);
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  cursor: pointer;
}

.cardBack {
  transform: rotateY(180deg);
}

/* border-2 border-black rounded-lg p-[10px] px-[15px] hover:scale-[1.08] transition-[300ms] */

.cl-avatarBox {
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 1000px) {
  .responsiveCard {
    width: 100px;
    height: 180px;
  }
}
@media screen and (max-width: 500px) {
  .responsiveCard {
    width: 90px;
    height: 160px;
  }
}
@media screen and (max-height: 700px) {
  .responsiveCard {
    width: 80px;
    height: 120px;
  }
}
