@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  user-select: none;
  background: linear-gradient(to right, #f9e9da, #9d3e44);
  color: #3a2f31;
}

.banner {
  padding-right: 17px;
  box-sizing: content-box;
  overflow-y: scroll;
}
